@font-face {
  font-family: "iconfont"; /* Project id 3970644 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1679924895697') format('woff2'),
       url('iconfont.woff?t=1679924895697') format('woff'),
       url('iconfont.ttf?t=1679924895697') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjiatianchong:before {
  content: "\e696";
}

.icon-qita:before {
  content: "\e625";
}

.icon-kongtiao:before {
  content: "\e615";
}

.icon-dianshi:before {
  content: "\e61a";
}

.icon-shuijue:before {
  content: "\e689";
}

.icon-wenyidashu:before {
  content: "\e656";
}

.icon-kaixin:before {
  content: "\e66a";
}

.icon-zhengque:before {
  content: "\e610";
}

.icon-yiwen:before {
  content: "\e609";
}

.icon-ayi:before {
  content: "\e611";
}

.icon-bukaixin:before {
  content: "\e6c4";
}

.icon-kaixin1:before {
  content: "\e6c7";
}

.icon-cuowu:before {
  content: "\e64a";
}

.icon-heshui:before {
  content: "\e603";
}

.icon-wanju:before {
  content: "\e632";
}

.icon-004-father:before {
  content: "\e70f";
}

.icon-013-grandmother:before {
  content: "\e712";
}

.icon-033-grandfather:before {
  content: "\e717";
}

.icon-045-mother:before {
  content: "\e719";
}

.icon-dazhaohu:before {
  content: "\ff17";
}

.icon-richang_chifan-miantiao-wan:before {
  content: "\e605";
}

.icon-qingkong:before {
  content: "\e604";
}

.icon-jianpan1:before {
  content: "\e68e";
}

.icon-yuyin:before {
  content: "\e667";
}

.icon-icon--shanchu:before {
  content: "\e621";
}

.icon-shanchu1:before {
  content: "\e602";
}

.icon-zidingyi:before {
  content: "\f09f";
}

.icon-duanyu:before {
  content: "\e6b9";
}

.icon-fanhui:before {
  content: "\e601";
}

.icon-jingbaoxinxi-:before {
  content: "\e60e";
}

.icon-nulikaifazhong:before {
  content: "\e62c";
}

.icon-zhuye_goutong:before {
  content: "\e68f";
}

.icon-wodexuexi:before {
  content: "\e65c";
}

.icon-diandeng:before {
  content: "\e61f";
}

